* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Kite One', sans-serif; }
  body #main {
    color: #333; }
    body #main .crveno {
      border: 1px solid red !important; }
    body #main a {
      color: #333; }
    body #main .fontTekst {
      font-size: 14px; }
    body #main label {
      border-bottom: 1px solid #000;
      padding: 0px 5px; }
      body #main label #search {
        border: none;
        padding-bottom: 9px; }
      body #main label #pretrazi {
        background: none;
        border: none !important; }
    body #main .pozadinaDugme {
      background-color: #d2a99f; }
    body #main nav {
      padding: 15px 0px;
      transition: all 0.8s; }
      body #main nav button {
        border: none; }
        body #main nav button:focus {
          outline: none; }
      body #main nav a {
        color: #d2a99f;
        font-weight: bold; }
    body #main #korpa {
      padding-top: 100px; }
      body #main #korpa table thead {
        background-color: #d2a99f; }
      body #main #korpa table tr td {
        padding: 18px;
        border-bottom: 1px solid #d2a99f; }
        body #main #korpa table tr td button {
          border: none; }
    body #main #autor {
      padding-top: 100px; }
    body #main #kontakt {
      padding-top: 100px; }
      body #main #kontakt #posalji {
        padding: 10px 15px;
        background-color: #d2a99f; }
    body #main #brendoviOmot {
      padding-top: 100px; }
    body #main #omot {
      padding-top: 100px; }
    body #main header {
      position: relative;
      max-width: 100%;
      height: auto;
      min-height: 39.1rem;
      background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0, rgba(22, 22, 22, 0.3) 100%, #161616 100%), url(../images/background.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; }
      body #main header h1 {
        font-size: 7rem;
        line-height: 6rem;
        letter-spacing: .8rem;
        font-family: Arial, Helvetica, sans-serif;
        background: -webkit-linear-gradient(white, rgba(115, 115, 115, 0.1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; }
      body #main header h2 {
        max-width: 30rem;
        font-size: 1.5rem; }
      body #main header .btn {
        padding: 1.25rem 2rem;
        font-size: 80%;
        background-color: #d2a99f;
        letter-spacing: .15rem; }
    body #main .rec {
      color: #a8a8a8; }
    body #main h3::after {
      content: " ";
      clear: left;
      display: block;
      margin: 20px auto 20px auto;
      border-bottom: 1px solid #333;
      width: 70px; }
    body #main .ikonica {
      width: 60px;
      height: 60px;
      margin: auto;
      background: #e8e8e8;
      border-radius: 50%;
      color: #000;
      line-height: 60px;
      font-size: 25px; }
    body #main .naziv {
      text-transform: uppercase; }
    body #main .opis {
      color: #333; }
    body #main footer .social a {
      color: #333; }
    body #main footer .social::after {
      content: " ";
      clear: left;
      display: block;
      margin: 20px auto 20px auto;
      border-bottom: 1px solid #a8a8a8;
      width: 120px;
      width: 70%; }
    body #main footer a {
      color: #d2a99f; }

@media screen and (max-width: 992px) {
  body #main header {
    max-width: 100%; }
    body #main header h1 {
      font-size: 5rem; }
  body #main .form-control {
    font-size: 14px; } }
@media screen and (max-width: 768px) {
  body #main header h1 {
    font-size: 4rem; }
  body #main header h2 {
    font: 1rem; }
  body #main #omot {
    padding-top: 40px; } }
@media screen and (max-width: 576px) {
  body #main {
    width: 100%; }
    body #main header h1 {
      font-size: 4rem;
      background: -webkit-linear-gradient(rgba(249, 249, 249, 0.9), rgba(249, 249, 249, 0.5));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text; }
    body #main #korpa table {
      font-size: 10px; }
    body #main footer {
      max-width: 100%;
      font-size: 14px; }
    body #main .slick-next {
      right: 0px; }
    body #main .slick-prev {
      left: 0px;
      z-index: 1; } }

/*# sourceMappingURL=style.css.map */
